# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="file:./prisma/dev.db"

# default values for LLM evaluation, you can leave those empty but you should at least provide an API key in the request body
#LLM_API_URL="https://api.groq.com/openai/v1/chat/completions"
#LLM_MODEL="llama-3.3-70b-versatile"
#LLM_API_KEY="your_api_key_here"